body {
font-family: Tahoma;
font-size: 10pt;
}

#module_box {
width: 650px;
}
#module_result {
width: 400px;
height: 100px;
background: #fc3;
float: right;
}

#string_box {
width: 650px;
}
#string_result {
width: 400px;
height: 100px;
background: #fc3;
float: right;
}

#private_box {
width: 650px;
}
#private_result {
width: 300px;
height: 150px;
background: #fc3;
float: right;
}